//- layout.pug
doctype html
html
  head
    title SuperLame Dance Academy
    block script
    block style  
  body
    nav#navbar 
       ul 
         div#mlogo1
            img(src='/static/img/mlogo1.jpg')
            |HDA
         li #[a(href="/") Home] 
         li #[a(href="/") About] 
         li #[a(href="/") Services] 
         li #[a(href="/") Class Info] 
         li #[a(href="/contact") Contact Us]
    block content
     
    footer#footer 
        | Copyright 2020 SuperLameDanceAcademy.com All Rights Reserved  