
#mlogo1{
    display: flex;
    color: white;
    align-items: center;
    margin: 0 14px;
    font-size: 10px;
    margin-right: 40px;
    justify-items: center;
}
#mlogo1 img{
    height: 42px;
    filter: invert(1);
}


#navbar{
    background-color: #d43b3b;
    font-family: 'Yeon Sung' ;
    padding: 13px, 14px;
}
#navbar ul{
    background-color: rgb(10, 10, 10);
    display: flex;
    flex-direction: row;
     justify-content: center;
    align-items: center;
    color: rgb(251, 124, 251);
}
#navbar li{
    list-style: none;
}
#navbar li a{ 
   text-decoration: none;
    padding: 13px 20px;
}
#navbar li a:hover{
    color: rgb(255, 255, 255);  
}
#introSection{
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'ZCOOL QingKe HuangYou';
    font-size: 65px;
    align-items: center;
    background: center/cover no-repeat url("/static/bg.jpg") ;
    opacity: 20;
    height: 565px;
    
}
#introSection div.small{
    display: flex;
    justify-content: center;
    color: white;
    background: cover /center/ contain no-repeat url("/static/bg.jpg");
    font-size: 52px;
    padding: 5px;
}
#missionSection{
    height: 200px;
    background-color: black;
}
#missionSection h2{
    color: aliceblue;
    text-align: center;
    font-family: sans-serif;
    padding-top: 1px;

}
.card{
    color: aliceblue;
    display: inline-block;
    border: 1px solid white;
    border-radius: 10px;
    width: 30%;
    margin: 20px 18px;
    height:100px;
}

.card h3{
    text-align: center;
    font-family: cursive;
    margin: 3px 12px;


}

.card-box{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

.card-img img{
    height: inherit;
    padding: 0 8px;
    margin: 5px 2px;
   
}
.card-img{
    margin-bottom:0em;
    height: 4em;
}
.card-content{
    color: rgb(223, 146, 251);
}
#sponsorsSection{
    height: 200px;
    justify-content: center;
    text-align: center;
    background-color: white;
}
#sponsorsSection h2{
    justify-content: center;
    text-align: center;
    padding-top: 10px;

}

#sponsors{
    
    background-color: white;
}

.spImage{
    display: flex;
    flex-direction: column;
    float: left;
    height: 80px;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 3px;
}
#footer{
    background-color: black;
    height: 100px;
}